<!DOCTYPE html>
<html lang="UTF-8">
<head>
    <meta charset="UTF-8">
    <title>正版视频上传</title>
</head>
<body>
    <h1>正版视频上传</h1>
    <form action="/upload" enctype='multipart/form-data' method='POST'>
        <input type="file" name="file" style="margin-top:20px;"/>
        <br>
        <i>输入视频关键词：</i>
        <input type="text" class="txt_input" name="name"  value="" style="margin-top:10px;"/>
        <input type="submit" value="上传" class="button-new" style="margin-top:15px;"/>
    </form>
</body>
</html>